extends layout

block head
  title duo-swing: game
  script(src='/js/phaser.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/boot.js')
  script(src='/js/load.js')
  script(src='/js/play.js')
  script(src='/js/game.js')
  script(src='/js/resize.js')
  
  
block content
  #canvas-container
  
  h3#overlay game ID: #{id}
    
