extends layout

block head
  title duo-swing
  
block content
  #container
    h1 duo-swing: home
    p Find a match
    #button-container
      a.button(href='/play') random
      a.button(href='#') join
      a.button(href='#') create
